
<h1> Demo Site </h1>

<a href="./hello">Hello Test</a>  &emsp;
<a href="./create">Create Account</a> &emsp;
<a href="./login">Login</a> &emsp;
<a href="./info">Info</a> &emsp;

<hr>
<i> <%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %>
<style>
 h1{ font-family: sans-serif; background: black; color: white; padding: 17px; margin: -10px; margin-bottom: 10;}
</style>
